<%
  input_opts = { class: input_classes }.merge(options)
  input_opts[:placeholder] = floating? ? " " : placeholder
%>
<% if floating? %>
  <div class="relative">
    <%= form.public_send(field_method, field, **input_opts) %>
    <%= form.label field, label_text, class: label_classes %>
  </div>
<% else %>
  <div class="mb-4">
    <%= form.label field, label_text, class: label_classes %>
    <%= form.public_send(field_method, field, **input_opts) %>
  </div>
<% end %>
